@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

p.timer {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 700;
    color: #000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: #f9f9f9;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

table {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
}

td {
    padding: 0.5rem;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

body.dark-mode input[type="text"],
body.dark-mode input[type="number"],
body.dark-mode select {
    background-color: #555;
    color: #fff;
    border-color: #777;
}

input[type="button"] {
    width: 100%;
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #45a049;
}

input[type="button"]

body.dark-mode input[type="button"]:hover {
    background-color: #5e8c5f;
}

#output {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    transition: background-color 0.3s, border-color 0.3s;
}

body.dark-mode #output {
    background-color: #444;
    border-color: #555;
}